main{
    background-image: url('../../img/banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 460px;
}

main .content-banner .content-left-side h1{
    font-size: 60px;
    line-height: 4rem;
}

main .content-banner .content-left-side p{
    padding: 25px 0;
    font-size: 20px;
    font-weight: normal;
}

main .content-banner .content-left-side h1,
main .content-banner .content-left-side p{
    color: #fff;
}

main .content-banner .content-left-side .button-buy{
    width: 50%;
    text-align: center;
    padding: 10px 0;
    text-transform: uppercase;
    border: 2px solid #fff;
    transition: .3s all ease-in-out;
    color: #fff;
}

main .content-banner .content-left-side .button-buy:hover{
    cursor: pointer;
    transition: .4s all ease-in-out;
    transform: scale(1.1);
}

main .content-banner .content-rigth-side{
    height: 460px;
}

main .content-banner .content-rigth-side img{
    width: 320px;
}

@media screen and (max-width: 1000px){
    main{
        height: 550px;
    }

    main .content-banner .content-left-side{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main .content-banner .content-left-side h1{
        text-align: center;
    }

    main .content-banner .content-rigth-side,
    main .content-banner .content-rigth-side img{
        display: none;
    }

    main .content-banner .content-left-side p{
        text-align: center;
    }
}

@media screen and (max-width: 580px){

    main .content-banner .content-left-side h1{
        font-size: 50px;
    }
}