#cartegory .content-cartegory{
    padding: 120px 0;
    margin-top: 10px;
}

.content-cartegory .content-cartegory-left-side h2{
    font-size: 40px;
}

.content-cartegory .content-cartegory-left-side p{
    font-size: 16px;
    font-weight: 500;
    padding: 15px 0;
}

.content-cartegory .content-cartegory-left-side .button-contact{
    width: 250px;
    text-align: center;
    color: #fff;
    font-weight: 500;
    padding: 8px 0;
    background-color: #C63636;
    border: 2px solid #000;
}

.content-cartegory .content-cartegory-left-side .button-contact:hover{
    cursor: pointer;
    background-color: #990f0f;
}

.content-cartegory .content-cartegory-rigth-side h5{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
}

.content-cartegory .content-cartegory-rigth-side img{
    width: 40px;
}

.content-cartegory .content-cartegory-rigth-side .icon-cartegory-1,
.content-cartegory .content-cartegory-rigth-side .icon-cartegory-2{
    width: 100%;
    background-color: #1D346D;
    color: #fff;
    padding: 15px 60px;
}

.content-cartegory .content-cartegory-rigth-side .icon-cartegory-1:hover,
.content-cartegory .content-cartegory-rigth-side .icon-cartegory-2:hover{
    background-color: #051b52;
    cursor: pointer;
}

.content-cartegory .content-cartegory-rigth-side .icon-cartegory-1{
    margin: 20px 10px 0 0;
}

.content-cartegory .content-cartegory-rigth-side .icon-cartegory-2{
    margin: 20px 0 0 10px;
}

@media screen and (max-width: 995px){
    .content-cartegory .content-cartegory-left-side p{
        font-size: 22px;
    }

    .content-cartegory .content-cartegory-left-side .button-contact{
        font-size: 20px;
    }

    .content-cartegory .content-cartegory-rigth-side{
        margin-top: 80px;
    }

    .content-cartegory .content-cartegory-rigth-side .icon-cartegory-1,
    .content-cartegory .content-cartegory-rigth-side .icon-cartegory-2{
        width: 400px;
        margin: 10px;
    }

    .content-cartegory .content-cartegory-rigth-side .icon-cartegory-1:nth-child(2){
        margin: 10px;
    }
}

@media screen and (max-width: 1000px){
    .content-cartegory .content-cartegory-rigth-side .icon-cartegory-1,
    .content-cartegory .content-cartegory-rigth-side .icon-cartegory-2{
        width: 200px;
    }
}

@media screen and (max-width: 580px){
    .content-cartegory,
    .content-cartegory-rigth-side{
        flex-direction: column;
    }

    .content-cartegory .content-cartegory-left-side h2,
    .content-cartegory .content-cartegory-left-side p{
        text-align: center;
    }

    .button-contact{
        margin: 0 auto;
    }
}

