footer{
    background-color: #1D346D;
}

footer .content-footer{
    padding: 60px 0;
}

footer .content-footer .address{
    text-align: center;
    color: #fff;
}

footer .content-footer .social-icons img{
    width: 40px;
    height: 40px;
}

footer .content-footer .social-icons img:nth-child(2){
    margin: 0 15px;
}

footer .developer{
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #fff;
    background-color: #000;
}

footer .developer h4{
    font-size: 20px;
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 995px){
    .address{
        margin: 30px 0 20px 0;
    }
}

@media screen and (max-width: 770px){
    .content-footer{
        flex-direction: column;
    }
}

@media screen and (max-width: 580px){
    .img-logo, .social-icons{
        justify-content: center;
    }
}