#products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.top-content-products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #000;
}

.top-content-products h2{
    color: #fff;
    text-transform: uppercase;
}

.top-content-products img{
    width: 40px;
    background-color: #1263FF;
}

.content-products{
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 85px 0 150px 0;
    background-color: #fff;
}

.content-products .product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 16px;
    border: 1px solid #000;
    padding-bottom: 10px;
}

.content-products .product img{
    width: 220px;
}

.content-products .product h3{
    margin-top: 10px;
    font-size: 30px;
}

.content-products .product h4{
    font-size: 25px;
    -webkit-text-stroke-width: 1px; /* largura da borda */
    -webkit-text-stroke-color: #000; /* cor da borda */
    color: #008AB6;
}

.content-products .product .button-product{
    width: 90%;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-weight: 500;
    background-color: #6EFD73;
    border: 1px solid #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}